<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>08-02-16</string>
		<key>low</key>
		<integer>15</integer>
		<key>open</key>
		<integer>27</integer>
		<key>close</key>
		<integer>50</integer>
		<key>high</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>date</key>
		<string>08-03-16</string>
		<key>low</key>
		<integer>50</integer>
		<key>open</key>
		<integer>65</integer>
		<key>close</key>
		<integer>81</integer>
		<key>high</key>
		<integer>88</integer>
	</dict>
	<dict>
		<key>date</key>
		<string>08-06-16</string>
		<key>low</key>
		<integer>43</integer>
		<key>open</key>
		<integer>80</integer>
		<key>close</key>
		<integer>89</integer>
		<key>high</key>
		<integer>91</integer>
	</dict>
	<dict>
		<key>date</key>
		<string>08-09-16</string>
		<key>low</key>
		<integer>45</integer>
		<key>open</key>
		<integer>55</integer>
		<key>close</key>
		<integer>59</integer>
		<key>high</key>
		<integer>63</integer>
	</dict>
	<dict>
		<key>date</key>
		<string>08-12-16</string>
		<key>low</key>
		<integer>2</integer>
		<key>open</key>
		<integer>21</integer>
		<key>close</key>
		<integer>25</integer>
		<key>high</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>date</key>
		<string>08-13-16</string>
		<key>low</key>
		<integer>34</integer>
		<key>open</key>
		<integer>36</integer>
		<key>close</key>
		<integer>54</integer>
		<key>high</key>
		<integer>56</integer>
	</dict>
	<dict>
		<key>date</key>
		<string>08-16-16</string>
		<key>low</key>
		<integer>4</integer>
		<key>open</key>
		<integer>9</integer>
		<key>close</key>
		<integer>16</integer>
		<key>high</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>date</key>
		<string>08-19-16</string>
		<key>low</key>
		<integer>45</integer>
		<key>open</key>
		<integer>12</integer>
		<key>close</key>
		<integer>43</integer>
		<key>high</key>
		<integer>56</integer>
	</dict>
	<dict>
		<key>date</key>
		<string>08-21-16</string>
		<key>low</key>
		<integer>33</integer>
		<key>open</key>
		<integer>39</integer>
		<key>close</key>
		<integer>43</integer>
		<key>high</key>
		<integer>57</integer>
	</dict>
	<dict>
		<key>date</key>
		<string>08-27-16</string>
		<key>low</key>
		<integer>76</integer>
		<key>open</key>
		<integer>78</integer>
		<key>close</key>
		<integer>88</integer>
		<key>high</key>
		<integer>91</integer>
	</dict>
</array>
</plist>
